/* AUTOPREFIXER */
/* https://autoprefixer.github.io/ */

* {
  color: purple;
  font-family: 'Lobster';
}

html, body {
  height: 100%;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.text-align {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

/* NAVBAR */
/* .navbar-light .navbar-nav .nav-link {
    color: #7b1fa2;
} */

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

/* .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #7b1fa2;
} */



/* FONT CLASSES */
.IndieFlower {
  font-family: 'Indie Flower', cursive;
}

.Lobster {
  font-family: 'Lobster', cursive;
}

.Pacifico {
  font-family: 'Pacifico', cursive;
}

.CoveredGrace {
  font-family: 'Covered By Your Grace', cursive;
}

.RockSalt {
  font-family: 'Rock Salt', cursive;
}

.CaveatBrush {
  font-family: 'Caveat Brush', cursive;
}

.Roboto {
  font-family: 'Roboto', cursive;
}
/* FONT CLASSES */



/* NAVBAR CLASSES */
.larger-font {
  font-size: 3rem;
}

div#navbarResponsive {
    font-size: 19px;
}

a.navbar-brand.Lobster.larger-font {
    color: #7b1fa2;
}
/* NAVBAR CLASSES */


.tagline {
  margin-top: 134px;
}



/* COLOR CLASSES */
.bg-purple {
  background-color: #7b1fa2;
}

.bg-purple-lighten-4 {
  background-color: #e1bee7;
}

.purple {
  color: #7b1fa2;
}

.purple-lighten-4 {
  color: #e1bee7;
}

.grey {
      color: rgba(0,0,0,.5);
}
/* COLOR CLASSES */


.business-header {
  height: 50vh;
  min-height: 300px;
  background: url('../img/img9.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


/* CARDS */
.card {
  height: 100%;
}

.card-img-height {
  height: 400px;
}

.a-hover {
  color: black;
}

.a-hover:hover {
  color: #e1bee7;
}

.build-order:hover {
  color: #7b1fa2;
}

/* CONTACT */
.contact-hover:hover {
  color: #e1bee7;
}

.contact-hover {
  font-size: 2rem;
}

  /* FOOTER CLASSES */
  p.m-0.text-center.text-white {
    font-family: 'Caveat Brush';
}

.CarbettaCoding {
  color: #e1bee7;
}

.CarbettaCoding:hover {
  text-decoration: none;
  color: white;
}
